body{
  background: #86109B;
  font-size: 20px;
}
* {
  box-sizing: border-box;
}
.App-logo{
display: block;
  
margin-left: auto;
margin-right: auto;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}
 
.header{
  text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
.input-text{
    width: 100%;
    padding:12px 20px;
    margin: 8px 0px;
  border: none;
    background-color: orange;
    color:black;
    font-size: large;
  }
.add-btn{
  width: 50%;
  padding:12px 20px;
  margin: 8px 0px;
  background-color: rgb(156, 231, 44);
  font-size: large;
  border: none;
}
.add-btn span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.add-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.add-btn:hover span {
  padding-right: 25px;
}

.add-btn:hover span:after {
  opacity: 1;
  right: 0;
}
.lis{
  width: 50%;
  padding:12px 20px;
  margin: 8px 0px;
border: none;
  background-color: rgba(255, 255, 112, 0.904);
  color:black;
  font-size: large;
}
.del-btn{
  width: 50%;
  padding:12px 20px;
  margin: 20px 0px;
  background-color: red;
  font-size: large;
  border: none;
}

.del-btn span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.del-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.del-btn:hover span {
  padding-right: 25px;
}

.del-btn:hover span:after {
  opacity: 1;
  right: 0;
}